

h1{
        color: #49A078;
        text-shadow: 0.5px 1px #216869;
        text-align: center;
        font-size: 28px;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
}

h2{
        margin: 20px;
        color: #216869;
        font-size: 18px;
        font-family: 'Playfair Display', serif;
}

form{
        color: #0A1E20;
        margin: 20px;
        font-size: 14px;
        font-family: 'Georgia', serif;        
}

p{
        color: #0A1E20;
        font-size: 14px;
        font-family: 'Georgia', serif;
        padding: 10px;
}

a{
        color: #49A078;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Georgia', serif;
}

button{
        width: 150px;
        height: 50px;
        margin: 20px;
        border: double #DCE1DE 2px;
        background-color: #9CC5A1;
        color: #0A1E20;
        font-family: 'Georgia', serif;
}

input[type=submit]{
        width: 150px;
        height: 50px;
        border: double #DCE1DE 2px;
        background-color: #9CC5A1;
        color: #0A1E20;
        font-family: 'Georgia', serif;
}

body{
        background-color: #DCE1DE;
}



a:hover{
        color: #216869;
}

button:hover{
        background-color: #49A078;
        color: #0A1E20;
}

input[type=submit]:hover{
        background-color: #49A078;
        color: #0A1E20;
}

table{
        margin: auto;
}


nav{
        display: flex;
        padding: 0% 0%;
        align-items: left;
        font-family: Georgia;
        background-color: #216869;
}

.nav-links{
        flex: 1;
        text-align: left;
}
.nav-links ul li{
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        list-style: none;
        display: block;
        position: relative;
}
.nav-links ul li a{
        color: #DCE1DE;
        text-decoration: none;
        font-size: 18px;
        
}

.menu{
        display: flex;
        align-items: left;
        list-style: none;
}

.logo {
        flex: 0;
}
.logo a{
        display: flex;
        align-items: left;
}
.logo img{
        top: 0;
        left:0;
        margin-top: 10px;
        margin-left: 10px;
        height: 50px;
}

div.result{
        border: double #DCE1DE 2px;
        background-color: #9CC5A1;
        color: #0A1E20;
}

/* Change the link coloron hover */
a.nav:hover {
  color: #9CC5A1;
}


